@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&family=Rajdhani:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-void text-ash font-tech selection:bg-acid-lime selection:text-black overflow-x-hidden;
    }

    /* Custom Scrollbar for Chrome/Safari/Edge */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        @apply bg-void;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-acid-lime hover:bg-white rounded-none border-2 border-void;
    }
}

@layer utilities {
    .clip-bento {
        clip-path: polygon(0 0, 100% 0, 100% 85%, 95% 100%, 0 100%);
    }

    .clip-angle-button {
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
    }

    .clip-card {
        clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 100%);
    }

    .text-stroke {
        -webkit-text-stroke: 1px currentColor;
        color: transparent;
    }

    .danger-stripes {
        background-image: repeating-linear-gradient(45deg,
                #ccff00,
                #ccff00 10px,
                transparent 10px,
                transparent 20px);
    }
}