/* Font imports MUST come before all other statements */
@import url('https://fonts.cdnfonts.com/css/kateno');
@import url('https://fonts.cdnfonts.com/css/brushgrunge');

/* Load Tailwind (for any utility classes still in use) */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the Aftermath Fallout design system */
@import './style.css';